<%- layout("Boilerplate.ejs") %>
<body>
  <div class="flex flex-col items-center relative">
    <div class="w-full relative">
      <img
        src="https://media.istockphoto.com/id/1988844230/photo/paediatric-medical-check-up.jpg?s=612x612&w=0&k=20&c=hz7jXpJmcvxSVkJLBucMOem1CYpjTGF-z0dUPGNSCgA="
        class="w-full h-[500px] opacity-70"
        alt=""
      />
      <div class="absolute top-20 left-10 z-10 w-[70%] ml-[35px]">
        <p class="!mt-[40px] !text-blue-500">WELCOME TO XYZ HOSPITAL</p>
        <P class="font-bold !text-4xl">We are here <br />for your care</P>
        <p class="">
          At XYZ Hospital, we are committed to delivering compassionate care
          with cutting-edge medical expertise. Our state-of-the-art facilities,
          highly skilled doctors, and dedicated staff work together to provide
          comprehensive healthcare services for patients of all ages
        </p>
        <button
          class="bg-red-500 !h-[50px] w-[200px] !rounded-3xl hover:!opacity-90 text-white"
        >
          Make an appointment
        </button>
      </div>
    </div>
    <div class="mt-[30px] w-[80%]" ]>
      <p class="font-bold !text-4xl">Our Services</p>
      <div class="flex flex-col grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 sm:flex-wrap sm:flex-row md:flex-row gap-3 justify-around">
        <div class="flex gap-4 justify-center w-[270px]">
          <i class="fa-solid fa-truck-medical text-3xl "></i>
          <div>
            <p class="text-xl font-bold">Emergency Services</p>
            <p class="opacity-80">
              Our hospital provides 24/7 emergency care with advanced medical
              facilities and a rapid response team to handle critical situations
              without delay.
            </p>
          </div>
        </div>
        <div class="flex gap-4  justify-center w-[270px]">
          <i class="fa-solid fa-user-doctor text-3xl "></i>
          <div>
            <p class="text-xl font-bold">Qualified Doctors</p>
            <p class="opacity-80">
              We have a team of highly experienced and specialized doctors
              dedicated to offering the best medical care with compassion and
              expertise.
            </p>
          </div>
        </div>
        <div class="flex gap-4  justify-center w-[270px]">
          <i class="fa-solid fa-stethoscope text-3xl "></i>
          <div>
            <p class="text-xl font-bold">Outdoor Checkup</p>
            <p class="opacity-80">
              We have a team of highly experienced and specialized doctors
              dedicated to offering the best medical care with compassion and
              expertise.
            </p>
          </div>
        </div>
        <div class="flex gap-4 justify-center w-[270px]">
          <i class="fa-regular fa-clock text-3xl "></i>
          <div>
            <p class="text-xl font-bold">24 Hours Services</p>
            <p class="opacity-80">
              From emergency care to regular medical support, our hospital is
              open round the clock to serve patients anytime they need us.
            </p>
          </div>
        </div>
      </div>
    </div>
    <%- include("./home_component/Department.ejs") %>
    <%- include("./home_component/Doctors.ejs") %>
    <%- include("./home_component/Sucess.ejs") %>
    <%- include("./home_component/Review.ejs") %>
  </div>
</body>
